* {
	padding: 0;
	margin: 0;
	color: #fff;
}

body {
	background-color: #353535;
	height: 100vh;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

header {
	height: 48px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.header-content {
	width: 100%;
	max-width: 1010px;
	height: 100%;
	background-color: #5682a3;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	margin-left: 20px;
	font-size: 20px;
}

.header-profile {
	margin-right: 20px;
	cursor: pointer;
}
.header-profile:hover {
	text-decoration: underline;
}
.profile-name {
	margin-right: 20px;
}
.profile-logo {
	min-width: 48px;
	height: 48px;
	margin-right: 15px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-logo img {
	width: 48px;
}

main {
	width: 100%;
	height: calc(100% - 68px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.main-content {
	width: 100%;
	max-width: 1010px;
	height: 100%;
	background-color: #515151;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.chats {
	width: 31%;
	border-left: none;
	border-right: 4px solid #fff;
	overflow-y: auto;
}

.chat {
	position: relative;
	width: calc(100% - 32px);
	padding: 7px 16px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	cursor: pointer;
}

.chat:hover {
	background-color: #fff;
}

.chat.active {
	background-color: #6490b1;
	border-right-color: #6490b1;
}

.chat-logo {
	min-width: 48px;
	height: 48px;
	margin-right: 15px;
	border-radius: 50%;
	overflow: hidden;
}

.chat-logo img {
	width: 48px;
}

.chat-text {
	font-size: 13px;
	max-width: calc(100% - 123px);
	white-space: nowrap;
	overflow: hidden;
	margin-right: 60px;
}

.chat-name {
	color: #30deb2;
	margin: 3px 0;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.chat-last-msg {
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: grey;
}

.chat.active .chat-last-msg span {
	color: #fff !important;
}

.chat-last-msg-dude {
	color: #3a6d99;
}

.chat-last-msg-text {
	color: grey;
}

.chat-date {
	position: absolute;
	right: 15px;
	white-space: nowrap;
	float: right;
}

.chat-date p {	
	font-size: 11px;
	color: #b3b3b3;
}

.chat.active .chat-date p {
	color: #fff !important
}

.chats::-webkit-scrollbar {
	width: 10px;
}
.chats::-webkit-scrollbar-track {
	background-color: #383934;
	border-radius: 2px;
}
.chats::-webkit-scrollbar-thumb {
	background-color: #777876;
	border-radius: 2px;
}

.messages {
	width: 69%;
	border-right: 1px solid #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.btns-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(100% - 32px);
	padding: 7px 16px;
}
.leave-chat-btn {
	width: auto;
	height: 40px;
	background-color: #8B0000;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.add-user-to-chat-btn {
	width: auto;
	height: 40px;
	background-color: #FF4500;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.all-messages {
	width: 100%;
	max-height: calc(100% - 124px);
	overflow-y: auto;
}

.all-messages::-webkit-scrollbar {
	width: 10px;
}
.all-messages::-webkit-scrollbar-track {
	background-color: #383934;
	border-radius: 2px;
}
.all-messages::-webkit-scrollbar-thumb {
	background-color: #777876;
	border-radius: 2px;
}

.msg-back {
	width: 100%;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.msg {
	position: relative;
	width: 100%;
	max-width: 560px;
	padding: 0 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.avatar {
	min-width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}

.avatar img {
	width: 42px;
}

.msg-text {
	margin-right: 80px;
	font-size: 14px;
}

.username {

}

.msg-date {
	position: absolute;
	right: 15px;
}

.msg-date p {
	color: #adadad;
	font-size: 11px;
}

.write-message {
	min-height: 70px;
	max-height: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.write-block {
	width: 100%;
	min-height: 60px;
	max-width: 560px;
	padding: 5px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.author-avatar {
	min-width: 48px;
	height: 48px;
	margin-right: 20px;
	overflow: hidden;
	border-radius: 50%;
}

.author-avatar img {
	width: 48px;
}

.write-form {
	width: calc(100% - 136px);
	min-height: 48px;
	max-height: 100%;
	background-color: #515151;
	outline: none !important;
	border: none;
	border-bottom: 1px solid #fff;
	resize: none;
	font-size: 15px;
	overflow-y: auto;
}

.write-form::-webkit-scrollbar {
	width: 5px;
}
.write-form::-webkit-scrollbar-track {
	background-color: #383934;
	border-radius: 2px;
}
.write-form::-webkit-scrollbar-thumb {
	background-color: #5f605d;
	border-radius: 2px;
}

.write-form:empty:before {
  content:attr(data-placeholder);
  color:gray;
}

.chat-avatar {
	min-width: 48px;
	height: 48px;
	margin-left: 20px;
	overflow: hidden;
	border-radius: 50%;
}

.chat-avatar img {
	width: 48px;
}
.send-button-parent {
	display: flex;
	align-items: flex-end;
	height: 100%;
	width: 48px;
}

.send-button-child {
	height: 30px;
	width: 40px;
	margin-bottom: 12px;
}

footer {
	height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.footer-content {
	width: 100%;
	max-width: 1010px;
	height: 100%;
	background-color: #000;
	font-size: 13px;
	text-align: center;
}

#login-modal {
	display: none;
	width: 100%;
	max-width: 300px;
	background-color: #fff;
	min-height: 200px;
	padding: 15px;
	border-radius: 10px;
	transition: top .3s linear;
}

#login-modal legend {
	color: #000;
}

#login-modal fieldset {
	padding: 5px;
}

.form-block {
	width: 80%;
	margin: 0 auto;
}

#login-modal fieldset input {
	display: block;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	padding: 2px 5px;
	outline: none;
	border: 1px solid black;
	color: #000;
}

#login-modal fieldset label, #login-modal fieldset em {
	color: #000;
	font-size: 13px;
}


#login-modal input[type="submit"] {
	display: block;
	background-color: lightblue;
	color: #000;
	font-size: 16px;
	text-align: center;
	margin: 10px auto;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
}

.form-change p {
	font-size: 14px;
	text-align: center;
	color: #000;
}

.form-change p span {
	color: blue;
	cursor: pointer;
}
.form-change p span:hover {
	text-decoration: underline;
}

#my-modal, #new-chat-modal {
	display: none;
	width: 100%;
	max-width: 400px;
	background-color: #fff;
}

.my-header {
	background-color: #5682a3;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;
}

.my-img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-right: 20px;
	white-space: nowrap;
}

.my-name {
	-moz-appearance: textfield;
    -webkit-appearance: textfield;
    overflow-wrap: normal;
    overflow-x: hidden;
    outline: none;
    max-height: 22px;
    overflow-y: hidden;
}
.my-name::selection {
	background-color: #000;
}

.my-header div:nth-child(2) {
	border: 1px solid #fff;
	padding: 2px;
	max-width: calc(100% - 88px);
}

.new-chat-btn-container {
	position: relative;
	width: calc(100% - 32px);
	padding: 7px 16px;
}

.new-chat-btn {
	width: 100%;
	height: 40px;
	background-color: #30DC06;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.new-chat-btn:hover {
	background-color: #249D06;
}

.new-chat-form, .my-form {
	background-color: #5682a3;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;	
}

#new-chat-modal input[type="text"], #my-modal input[type="text"] {
	font-size: 16px;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background-color: #5682a3;
	padding: 2px 5px;
}

#new-chat-modal input[type="text"]::placeholder, #my-modal input[type="text"]::placeholder {
	color: #ddd;
}

#new-chat-modal input[type="submit"], #my-modal input[type="submit"] {
	background-color: #249D06;
	border: none;
	font-size: 14px;
	padding: 2px 5px;
	margin-top: 5px;
	float: right;
	border-radius: 5px;
	cursor: pointer;
}

.new-chat-img-container, .my-img-container {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
	overflow: hidden;
}

.new-chat-img, .my-img {
	width: 100%;
	height: 100%;
}

.new-chat-img-btn, .my-img-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 11px;
	text-align: center;
	padding-top: 2px;
}

.logout-link {
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.logout-link:hover {
	text-decoration: underline;
}
#footer 
{	
	display: block;
	position: relative;
	width: 100%;
	max-width: 1010px;
	height: 300px;
	bottom: 0;
	left: 0;
	background-color: #5682a3;
	margin: 0 auto;
}

#footerblock
{
	width: 950px;
	height: 320px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	left: 50%;
	margin-left: -490px;
	top: 25px;
	/*border: 1px solid yellow;*/
	color: white;
	padding-top: 40px;
	padding-left: 30px;
}

#footertext
{
	width: 450px;
	height: 100%;
	/*border: 1px solid yellow;*/
	position: relative;
	float: left;
}

#footercontacts
{
	width: 250px;
	height: 100%;
	/*border: 1px solid yellow;*/
	position: relative;
	
	float: left;
}

#footercontactsp1
{
	margin-top: 30px;
}

#footercontactsp2, #footercontactsp3
{
	margin-top: 10px;
}

#footerlinks
{
	width: 250px;
	height: 100%;
	/*border: 1px solid yellow;*/
	position: relative;
	float: left;
}

#footerul
{
	position: absolute;
	left: 0;
	top: 30px;
	list-style: none;
	display: block;
	margin-top: 30px;
	z-index: 14;
}

.footerli
{
	float: left;
	position: relative;
	margin-left: 30px;
	display: block;
	width: 40px;
	height: 40px;
	transition: filter 0.2s;
	color: #00aced;
	cursor: pointer;
	transition: color 0.3s;
}

#footercontacts p
{
	font-size: 20px;
}

#footercontacts strong
{
	font-size: 24px;
	font-weight: bold;
	color: lightblue;
}

i.fa
{
	font-size: 40px;
}

._title
{
	font-weight: bold;
	font-size: 24px;
	margin-top: 10px;
	color: darkblue;
}
._title p
{
	text-align: justify;
}

._sub_title
{
	font-weight: bold;
	margin-top: 10px;
}